/* Style reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  overflow: auto; }

:focus {
  outline: 0; }

::-moz-focus-inner {
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both; }

a, a:link, a:active, a:visited {
  text-decoration: none; }

a > img {
  border: 0; }

/* Fonts */
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_extrabold';
  src: url("../fonts/proximanova-extrabold-webfont.eot");
  src: url("../fonts/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("../fonts/proximanova-extrabold-webfont.ttf") format("truetype"), url("../fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font styles */
p {
  font-family: 'proxima_nova_regular';
  font-size: 18px;
  line-height: 26px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px;
      line-height: 22px; } }

p.subheader {
  font-family: 'proxima_nova_bold';
  text-transform: uppercase; }

.macrocosm {
  font-family: 'proxima_nova_extrabold';
  font-size: 72px;
  text-transform: uppercase; }
  .macrocosm i {
    font-size: 62px; }
  @media screen and (max-width: 768px) {
    .macrocosm {
      font-size: 42px; }
      .macrocosm i {
        font-size: 36px; } }
  @media screen and (max-width: 500px) {
    .macrocosm {
      font-size: 30px; }
      .macrocosm i {
        font-size: 27px; } }
  @media screen and (max-width: 350px) {
    .macrocosm {
      font-size: 24px; }
      .macrocosm i {
        font-size: 20px; } }
  .macrocosm span {
    font-family: 'proxima_nova_regular'; }

.header-title {
  margin-bottom: 30px;
  font-family: 'proxima_nova_bold';
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .header-title {
      font-size: 28px; } }

.quote {
  font-family: 'proxima_nova_bold';
  font-style: italic; }

/* Colors */
/* Structure Styles */
.wrapper {
  /* For full width containers */
  max-width: 820px;
  margin: 0 auto;
  padding: 40px 20px; }

section {
  /* For normal content containers */
  max-width: 820px;
  margin: 0 auto;
  padding: 40px 20px; }

header {
  padding: 0 20px;
  background-color: #252729; }
  header .header-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    max-width: 940px;
    margin: 0 auto; }
    header .header-wrapper .home-logo {
      display: block; }
    header .header-wrapper .nav-main {
      width: 100%;
      margin-left: 40px; }
      header .header-wrapper .nav-main ul {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; }
        @media screen and (max-width: 700px) {
          header .header-wrapper .nav-main ul {
            display: none; } }
        header .header-wrapper .nav-main ul li:last-of-type {
          margin-right: 0; }
        header .header-wrapper .nav-main ul li a {
          position: relative;
          display: block;
          line-height: 60px;
          font-family: 'proxima_nova_regular';
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff; }
          header .header-wrapper .nav-main ul li a:after {
            content: '';
            display: none;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0;
            background-color: #fff; }
          header .header-wrapper .nav-main ul li a:hover:after {
            display: block; }
    header .header-wrapper .mobile-menu-trigger {
      display: none;
      color: #fff;
      font-size: 30px; }
      header .header-wrapper .mobile-menu-trigger:hover {
        cursor: pointer; }
      @media screen and (max-width: 700px) {
        header .header-wrapper .mobile-menu-trigger {
          display: inline-block; } }

/* end Header */
.mobile-menu {
  display: block;
  width: 300px;
  height: 100%;
  position: absolute;
  left: -300px;
  top: 60px;
  background-color: #252729;
  opacity: 0;
  z-index: 50;
  transition: all 0.5s ease; }
  .mobile-menu.show {
    display: block;
    opacity: 1;
    left: 0; }
  .mobile-menu .nav-main ul {
    margin: 30px 0 0 20px; }
    .mobile-menu .nav-main ul li {
      margin: 20px 0; }
      .mobile-menu .nav-main ul li a {
        font-family: 'proxima_nova_regular';
        text-transform: uppercase;
        color: #fff; }
        .mobile-menu .nav-main ul li a:hover {
          color: #da7911; }

.hero-container {
  text-transform: uppercase;
  color: #fff;
  background-image: url("../images/bg-top.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-container .wrapper {
    max-width: 980px; }
  .hero-container h1, .hero-container h4, .hero-container h2, .hero-container .details {
    margin-bottom: 20px; }
  .hero-container .macrocosm {
    display: inline-block;
    padding: 5px 18px;
    background-color: #da7911; }
  .hero-container h4 {
    display: inline-block;
    padding: 5px 18px;
    font-family: 'proxima_nova_semibold';
    font-size: 21px;
    background-color: #da7911; }
    @media screen and (max-width: 768px) {
      .hero-container h4 {
        font-size: 14px; } }
  .hero-container h2 {
    font-family: 'proxima_nova_bold';
    max-width: 480px;
    font-size: 38px;
    line-height: 42px;
    text-transform: none; }
    @media screen and (max-width: 768px) {
      .hero-container h2 {
        max-width: 300px;
        font-size: 24px;
        line-height: 28px; } }
  .hero-container .details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .hero-container .details p {
      margin-bottom: 3px;
      font-family: 'proxima_nova_bold';
      font-size: 19px; }
      @media screen and (max-width: 768px) {
        .hero-container .details p {
          font-size: 12px;
          line-height: 12px; } }
    .hero-container .details .when {
      position: relative;
      margin-right: 40px; }
      .hero-container .details .when:after {
        content: '';
        display: block;
        height: 30px;
        width: 1px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20px;
        background-color: #fff; }

/* End hero container */
.register-button {
  display: block;
  max-width: 220px;
  padding: 20px;
  text-align: center;
  font-size: 21px;
  font-family: 'proxima_nova_bold';
  text-transform: uppercase;
  color: #fff;
  background-color: #339ef3;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px #0e73c2; }
  @media screen and (max-width: 768px) {
    .register-button {
      font-size: 15px; } }
  .register-button.centered {
    margin: 0 auto;
    position: relative;
    top: -70px;
    z-index: 2; }
  .register-button:hover {
    background-color: #0e86e6; }

.conference {
  text-align: center; }
  .conference p {
    max-width: 780px;
    margin: 0 auto; }

.testimonial {
  background-color: #252729;
  color: #fff; }
  .testimonial.with-register .wrapper:before {
    top: 30px;
    left: 10px; }
  .testimonial.with-register p:first-of-type {
    margin-top: 0;
    margin-left: 70px; }
  .testimonial .wrapper {
    position: relative; }
    .testimonial .wrapper:before {
      content: '\201C';
      font-family: 'proxima_nova_bold';
      font-size: 110px;
      position: absolute;
      top: 25px;
      left: 10px;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .testimonial .wrapper:before {
          top: -24px;
          font-size: 150px; } }
  .testimonial .register-button {
    /* For register button underneath speakers */
    margin-bottom: -40px; }
  .testimonial p {
    margin-left: 60px;
    font-family: 'proxima_nova_light';
    font-size: 25px;
    line-height: 32px; }
    @media screen and (max-width: 600px) {
      .testimonial p {
        margin-left: 0;
        font-size: 14px;
        line-height: 20px; } }
    .testimonial p:first-of-type {
      margin-bottom: 20px; }
      @media screen and (max-width: 600px) {
        .testimonial p:first-of-type {
          margin-top: 60px; } }
    .testimonial p:nth-of-type(2) {
      text-align: right; }
    .testimonial p span {
      margin-right: 22%;
      font-size: 15px;
      font-style: bold; }
      @media screen and (max-width: 600px) {
        .testimonial p span {
          margin-right: 0;
          font-size: 12px;
          line-height: 18px; } }
  .testimonial img {
    width: 125px;
    margin-left: 70px;
    float: right; }
    @media screen and (max-width: 768px) {
      .testimonial img {
        position: relative;
        top: -65px;
        margin-left: 10px; } }
    @media screen and (max-width: 600px) {
      .testimonial img {
        width: 115px;
        position: absolute;
        top: -30px;
        right: 30px; } }

/* End Testimonial */
.agenda {
  position: relative; }
  .agenda ul {
    margin-left: 205px; }
    @media screen and (max-width: 900px) {
      .agenda ul {
        margin-left: 0;
        text-align: center; } }
    .agenda ul li {
      position: relative;
      margin-bottom: 40px; }
      .agenda ul li span {
        width: 100%;
        position: absolute;
        right: calc(100% + 20px);
        text-align: right;
        font-family: 'proxima_nova_light';
        font-size: 40px;
        color: #787878; }
        @media screen and (max-width: 900px) {
          .agenda ul li span {
            position: relative;
            right: auto; } }
        .agenda ul li span sup {
          margin-left: 3px;
          vertical-align: 11px;
          font-size: 24px; }
      @media screen and (max-width: 900px) {
        .agenda ul li p.subheader {
          margin: 10px 0; } }
      .agenda ul li p.break {
        display: inline-block;
        position: relative;
        margin: 40px 0 0 70px;
        font-family: 'proxima_nova_bold';
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #da7911; }
        @media screen and (max-width: 900px) {
          .agenda ul li p.break {
            margin: 40px 0 0 0; } }
        .agenda ul li p.break:before, .agenda ul li p.break:after {
          content: '';
          display: block;
          width: 5px;
          height: 2px;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          background-color: #da7911; }
        .agenda ul li p.break:before {
          left: -10px; }
        .agenda ul li p.break:after {
          right: -10px; }

/* End Agenda */
.speakers {
  background-image: url("../images/bg-speakers.jpg");
  background-size: cover;
  color: #fff; }
  .speakers .wrapper {
    position: relative;
    max-width: 980px; }
  .speakers ul li {
    margin-bottom: 40px; }
    .speakers ul li:nth-of-type(2n) img {
      float: right; }
      @media screen and (max-width: 768px) {
        .speakers ul li:nth-of-type(2n) img {
          float: none; } }
    .speakers ul li:nth-of-type(2n) p {
      margin-left: 0;
      margin-right: 160px;
      text-align: right; }
      @media screen and (max-width: 768px) {
        .speakers ul li:nth-of-type(2n) p {
          text-align: center;
          margin: 0 0 20px 0; } }
    .speakers ul li img {
      width: 140px;
      float: left; }
      @media screen and (max-width: 768px) {
        .speakers ul li img {
          display: block;
          float: none;
          text-align: center;
          margin: 0px auto 30px auto; } }
    .speakers ul li p {
      margin-left: 160px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #fffefe; }
      @media screen and (max-width: 768px) {
        .speakers ul li p {
          text-align: center;
          margin: 0 0 20px 0; } }
      .speakers ul li p:first-of-type {
        font-size: 18px; }
        @media screen and (max-width: 768px) {
          .speakers ul li p:first-of-type {
            font-size: 14px; } }

/* End Speakers */
footer {
  padding: 40px 0;
  text-align: center; }
  footer p {
    margin-bottom: 30px; }
  footer .macrocosm {
    position: relative;
    margin: 40px 0 20px 0;
    padding-top: 40px; }
    footer .macrocosm:before {
      content: '';
      display: block;
      margin: auto;
      width: 100px;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #d3d4d4; }
  footer a {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'proxima_nova_semibold';
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    background-color: #da7911; }
    @media screen and (max-width: 768px) {
      footer a {
        font-size: 14px; } }
    footer a:first-of-type {
      margin-right: 5px;
      margin-bottom: 15px; }
    footer a:hover {
      background-color: #ab5f0d; }
  footer .subheader:last-of-type {
    color: #da7911; }
