/* break points */
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

/* colors */
$color-primary: #da7911; //orange
$color-secondary: #252729; //charcoal
$color-accent: #339ef3; //blue

$color-secondary-light: #787878; //light gray

/* fonts */
$font-primary: 'Lato', sans-serif;
$font-secondary: 'PT Sans', sans-serif;

/* Header */
$header-height: 60px;